#form, #addAgendum{
  max-width: 800px;
  margin: auto;
  background-color: #FFF;
  color: #333;
  box-sizing: border-box;
  padding: 20px;
}

table td{
	padding: 5px;
}

#form h1, #addAgendum h1{
	padding: 0;
	margin: 0;
	font-weight: 300;
	color: #888;
}

input[type=text], textarea{
  font-size: 14px;
  padding: 5px 10px;
  border: 0;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
	border-bottom: 1px solid #d1d1d1;
}

textarea{
	min-height: 400px;
}

table{
  width: 100%;
}

#personalInfo th, #addAgendum table th{
  padding: 5px;
  text-align: right;
  font-weight: 400;
  color: #555;
  width: 90px;
}

input[type=checkbox]{
	margin-right: 12px;
}

button{
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
	background-color: #EEE;
	color: #333;
	font-size: 14px;
	border: none;
}

button:hover{
	background-color: #555;
	color: white;
}

#schedules button{
	padding: 5px 10px;
	font-size: 11px;
}
