@import url(avenir-next-lt-pro/style.css);

body{
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #FAFAFA;
  font-family: 'Avenir Next LT Pro Regular';
}

.navigation ul{
  padding: 0;
  margin: 0;
}

.navigation .logo{
  float: left;
}

.nav-container{
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.clear{
  clear: both;
}

.play{
  display: block;
  background-color: #444;
  color: white;
  text-decoration: none;
  max-width: 500px;
}

.play .tags a:link, .play .tags a:visited{
  text-decoration: none;
  color: #888;
  font-family: 'Avenir Next LT Pro Regular';
  font-weight: 900;
  text-transform: lowercase;
  font-size: 12px;
  background-color: white;
  padding: 10px 10px;
  border-radius: 5px;
  display: inline-block;
}

.play .tags a:before{
  content: '#';
}


@media screen and (min-width: 1201px){
  .navigation{
    width: 1200px;
    margin: auto;
  }
}

@media screen and (min-width: 809px){
  .navigation .logo{
    width: 400px;
  }

  .navigation ul{
    list-style: none;
    float: right;
  }

  .navigation ul li{
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .navigation a:link, .navigation a:visited{
    text-decoration: none;
    display: inline-block;
    color: #555;
    padding: 49px 30px;
    transition: all 0.2s;
    text-transform: uppercase;
    font-family: 'Avenir Next LT Pro Regular';
    border-bottom: 2px solid transparent;
  }

  .navigation a:hover, .navigation #filter:hover{
    color: #e00000;
    border-bottom: 6px solid #e00000;
    padding: 45px 30px;
  }

  .navigation #filter{
    text-decoration: none;
    display: block;
    color: #555;
    transition: border-bottom 0.2s, padding 0.2s, width 0.3s, margin 0.3s, color 0.2s;
    text-transform: uppercase;
    font-family: 'Avenir Next LT Pro Regular';
    font-size: 15px;
    border: 0;
    width: 50px;
    margin: 0;
    padding: 49px 30px;
    border-bottom: 2px solid transparent;
  }

  .navigation #filter:focus, .navigation #filter.expanded{
    text-transform: none;
    width: 250px;
    outline: 0;
    margin-left: -300px;
    background-color: white;
    border-bottom: 6px solid #e00000;
    padding: 45px 30px;
  }
}

@media screen and (min-width: 809px) and (max-width: 1200px){

}

@media screen and (max-width: 808px){
  .navigation .logo{
    width: 250px;
  }

  .navigation ul{
    position: fixed;
    background-color: #FAFAFA;
    height: 100%;
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }

  .navigation ul li{
    padding: 0;
    margin: 0;
    display: block;
  }

  .navigation a:link, .navigation a:visited, .navigation #filter{
    text-decoration: none;
    color: #555;
    font-size: 17px;
    padding: 20px 30px;
    display: block;
    background-color: white;
    border: 0;
    border-left: 10px solid #EEE;
    border-bottom: 1px solid #EEE;
    transition: all 0.2s;
    width: 100%;
    box-sizing: border-box;
  }

  .navigation a:hover, .navigation #filter:focus{
    border-color: #e00000;
    color: #e00000;
    border-left-width: 20px;
    outline: 0;
  }
}
