@import url(avenir-next-lt-pro/style.css);

body{
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #F0F0F0;
  font-family: 'Avenir Next LT Pro Regular';
}

.navigation ul{
  padding: 0;
  margin: 0;
}

.navigation .logo{
  float: left;
}

.nav-container{
  width: 100%;
  background-color: white;
}

.clear{
  clear: both;
}

.container.playlist{
  box-sizing: border-box;
  padding-top: 0;
  padding-right: 0;
}

.play{
  display: block;
  background-color: white;
  color: #555;
  text-decoration: none;
  height: 300px;
  box-sizing: border-box;
  border-left: 0 #F0F0F0 solid;
  border-bottom: 0 #F0F0F0 solid;
  float: left;
  transition: background-position 0.2s;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: default;
}

.play:hover{
  background-position: 0 300px;
}

.play:hover h1{
  color: #e00000;
  top: 0;
  left: 0;
  position: relative;
  background-color: transparent;
}

.play h1{
  transition: all 0.2s;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0;
  margin: 20px;
  display: inline-block;
  margin-bottom: 5px;
  background-color: white;
  font-family: 'Avenir Next LT Pro Condensed';
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
  top: -20px;
  left: -20px;
  line-height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.play:hover p{
  opacity: 1;
}

.play p{
  transition: all 0.2s;
  opacity: 0;
  padding: 0 20px;
  margin: 0;
  color: #999;
  line-height: 25px;
  overflow: hidden;
  max-height: 150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.play p time{
  color: #CCC;
  display: inline-block;
  padding: 0 10px;
}

.play .playButton:link, .play .playButton:visited{
  width: 0;
  height: 0;
  margin: 0;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 25px;
  position: relative;
  display: inline-block;
  background-image: url(play.png);
  background-repeat: no-repeat;
}

.play:hover .playButton{
  background-color: #e00000;
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 0;
  margin-bottom: -25px;
  top: -5px;
  left: 0;
  background-size: 40px 40px;
  background-position: 7px 5px;
}

.playButton:hover{

}

.play .tags{
  position: absolute;
  bottom: 0px;
  height: 0;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s;
  left: 0;
  text-align: right;
  padding: 10px;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.play:hover .tags{
  opacity: 1;
  height: 55px;
  background-color: white;
}

.play .tags:hover{
  height: 130px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.play .tags a:link, .play .tags a:visited{
  text-decoration: none;
  font-family: 'Avenir Next LT Pro Regular';
  font-weight: 900;
  text-transform: lowercase;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  margin: 2px 0;
  color: black;
}

.play .tags a:hover{
  color: #e00000;
}

.play .tags a:before{
  content: '#';
}


@media screen and (min-width: 1201px){
  .navigation{
    width: 1200px;
    margin: auto;
  }

  .play{
    width: 33.33%;
  }
}

@media screen and (min-width: 809px){
  .navigation .logo{
    width: 400px;
  }

  .navigation ul{
    list-style: none;
    float: right;
  }

  .navigation ul li{
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .navigation a:link, .navigation a:visited{
    text-decoration: none;
    display: inline-block;
    color: #555;
    padding: 49px 30px;
    transition: all 0.2s;
    text-transform: uppercase;
    font-family: 'Avenir Next LT Pro Regular';
    border-bottom: 2px solid transparent;
  }

  .navigation a:hover, .navigation #filter:hover{
    color: #e00000;
    border-bottom: 6px solid #e00000;
    padding: 45px 30px;
  }

  .navigation #filter{
    text-decoration: none;
    display: block;
    color: #555;
    transition: border-bottom 0.2s, padding 0.2s, width 0.3s, margin 0.3s, color 0.2s;
    text-transform: uppercase;
    font-family: 'Avenir Next LT Pro Regular';
    font-size: 15px;
    border: 0;
    width: 50px;
    margin: 0;
    padding: 49px 30px;
    border-bottom: 2px solid transparent;
  }

  .navigation #filter:focus, .navigation #filter.expanded{
    text-transform: none;
    width: 250px;
    outline: 0;
    margin-left: -300px;
    background-color: white;
    border-bottom: 6px solid #e00000;
    padding: 45px 30px;
  }

  #hamburger{
    display: none;
  }
}

@media screen and (min-width: 809px) and (max-width: 1200px){
  .play{
    width: 50%;
  }
}

@media screen and (max-width: 808px){
  .navigation .logo{
    width: 250px;
    margin-left: -15px;
    z-index: 1001;
    position: relative;
  }

  .navigation ul{
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 50%;
    min-width: 320px;
    max-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-top: 74px;
    transition: all 0.2s;
    left: 0;
    z-index: 99;
  }

  .navigation{
    z-index: 100;
    position: relative;
  }

  .navigation.hidden ul{
    left: -370px;
  }

  .navigation ul li{
    padding: 0;
    margin: 0;
    display: block;
  }

  .navigation a:link, .navigation a:visited, .navigation #filter{
    text-decoration: none;
    color: #555;
    font-size: 17px;
    padding: 20px 30px;
    display: block;
    background-color: white;
    border: 0;
    border-left: 10px solid #EEE;
    border-bottom: 1px solid #EEE;
    transition: all 0.2s;
    width: 100%;
    box-sizing: border-box;
  }

  .navigation a:hover, .navigation #filter:focus{
    border-color: #e00000;
    color: #e00000;
    border-left-width: 20px;
    outline: 0;
  }

  .play{
    width: 100%;
  }

  #hamburger{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    padding: 27px;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s;
  }

  #hamburger:hover{
    transform: rotate(90deg);
  }
}
