@import url(fonts/avenir-next-lt-pro/style.css);
@import url(fonts/melbourne-webfontkit-20160330-112725/stylesheet.css);
/*@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);*/

body{
  margin: 0;
  font-size: 15px;
  font-family: 'Avenir Next LT Pro Regular', sans-serif;
}

.clear{
  clear: both;
  margin: 0;
  padding: 0;
}

.unbreakable{
  display: inline-block;
}

.section.center{
  margin: auto;
  max-width: 1100px;
}

.section.splash{
  height: 100vh;
  min-height: 500px;
  box-sizing: border-box;
  background-image: url(../img/splashbg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  min-width: 400px;
}

.logoHolder{
  float: left;
  padding: 20px;
}

.logoHolder .logo, .logoHolder .logoText{
  display: inline-block;
  vertical-align: middle;
}

.logoHolder .logo{
  height: 50px;
}

.logoHolder .logoText{
  font-family: 'melbournebold', sans-serif;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}

.navlinks{
  float: right;
  margin-right: 25px;
}

.navlinks ul, .navlinks li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.navlinks li{
  display: inline-block;
}

.navlinks li a:link, .navlinks li a:visited{
  color: white;
  display: block;
  padding: 37px 15px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  background-position: center -240px;
  background-size: 200px auto;
  background-repeat: no-repeat;
  font-family: 'Avenir Next LT Pro Medium Condensed', sans-serif;
  background-image: url(../img/banner_white.png);
}

.navlinks li a:hover{
  background-position: center -150px;
  color: #333;
}

.floatingSplash{
  font-size: 40px;
  font-family: 'melbournelight', sans-serif;
  color: white;
  width: 352px;
  height: 90px;
  text-align: center;
  line-height: 50px;
  opacity: 1;
  transition: 1s all;
  position: absolute;
  left: calc(50% - 176px);
  top: calc(50% - 75px);
}

.floatingSplash.pre{
  top: 50%;
  opacity: 0;
}

.splash .applyButton:link, .splash .applyButton:visited{
  padding: 15px 30px;
  border: 3px solid white;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 76px);
  top: calc(50% + 50px);
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 152px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s background-color, 0.2s color, 1s top, 1s opacity;
  opacity: 1;
}

.splash .applyButton.pre{
  top: calc(50% + 150px);
  opacity: 0;
}

.splash .applyButton:hover{
  background-color: white;
  color: black;
}

.logoText span{
  font-family: 'Permanent Marker';
  opacity: 0.75;
  margin: 3px;
  font-size: 15px;
  display: inline-block;
  position: relative;
}

.learnMoreButton:link, .learnMoreButton:visited{
  position: absolute;
  bottom: 20px;
  left: calc(50% - 20px);
  display: block;
  width: 40px;
  transition: all 2s;
  opacity: 1;
  text-decoration: none;
}

.learnMoreButton span{
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}

.learnMoreButton.pre{
  bottom: -30px;
  opacity: 0;
}

.learnMoreButton:hover span{
  color: white;
}

.learnMoreButton:hover img{
  width: 35px;
  height: 35px;
  opacity: 1;
}

.learnMoreButton img{
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  transition: 0.2s all;
  border-radius: 100px;
  opacity: 0.5;
}

.section.about{
  height: 100vh;
}

.section.about .left img{
  width: 100%;
}

.section.about .left{
  float: left;
  width: 40%;
}

.section.about .right{
  float: right;
  width: 60%;
}

.section.majorevents .section.center{
  max-width: 1100px;
}

.section.majorevents .event{
  padding: 20px;
  box-sizing: border-box;
}

.section.majorevents .event.left{
  background-color: rgb(250, 250, 250);
}

.section.majorevents .event .content h1{
  margin: 0;
  padding: 0;
  font-family: 'melbourneregular';
  color: #b24744;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  font-size: 27px;
}

.section.majorevents .event .content h1 span{
  color: #CCC;
  font-family: 'melbournelight';
}

.section.majorevents .event .content p{
  font-size: 15px;
  line-height: 25px;
  padding: 20px;
  padding-top: 5px;
  margin: 0;
  text-align: justify;
}

@media screen and (max-width: 550px){
  .section.majorevents .event .image{
    height: 175px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -20px;
    left: -20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 551px){
  .section.majorevents .event .image{
    width: 175px;
    height: 175px;
    background-position: center;
    background-size: cover;
    border-radius: 200px;
  }

  .section.majorevents .event.left .image, .section.majorevents .event.right .content{
    float: left;
  }

  .section.majorevents .event.right .image, .section.majorevents .event.left .content{
    float: right;
  }

  .section.majorevents .event .content{
    width: calc(100% - 175px);
  }

  .section.majorevents .event.right .content h1{
    text-align: right;
  }
}


.section.testimonials .test{
  background-size: cover;
  color: #333;
  background-repeat: no-repeat;
  background-position: -100vw 0;
  padding: 5px 0;
}

.section.testimonials .test .holder{
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.section.testimonials .test .content{
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 16px;
  line-height: 25px;
  position: relative;
}

@media screen and (max-width: 640px){
  .section.testimonials .test .image{
    display: none;
  }

  .section.testimonials .test .holder{
    padding: 0 20px;
  }
}

@media screen and (min-width: 641px){
  .section.testimonials .test .image{
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    float: left;
  }

  .section.testimonials .test .content{
    float: left;
    width: calc(100% - 100px);
  }

  .section.testimonials .test .holder{
    padding: 20px;
  }
}

.section.testimonials .test .content .quote{
  position: relative;
  text-indent: 50px;
  margin-top: 20px;
}

.section.testimonials .test .content .quote:before{
  font-family: 'Times New Roman', 'Garamond', sans-serif;
  position: absolute;
  font-size: 150px;
  letter-spacing: -10px;
  opacity: 0.1;
  top: 20px;
  left: -70px;
  content: "\2018\2018";
}

.section.testimonials .test .content .author{
  text-align: right;
  font-style: italic;
  font-family: 'Avenir Next LT Pro Condensed';
}

.section.testimonials{
  padding-bottom: 20px;
}

@media screen and (max-width: 560px){
  .section .section.header{
    font-size: 30px;
    letter-spacing: 5px;
    padding: 50px 30px;
  }

  .section.testimonials .section.header .sub{
    display: block;
    font-size: 15px;
    letter-spacing: 0.5px;
  }

  .section.sponsors .logos{
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 561px){
  .section .section.header{
    font-size: 50px;
    letter-spacing: 10px;
    padding: 100px 50px;
  }

  .section.testimonials .section.header .sub{
    display: block;
    font-size: 20px;
    letter-spacing: 3px;
  }

  .section.sponsors .logos{
    padding-bottom: 100px;
  }
}

.section .section.header{
  font-family: 'melbournelight';
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.section.majorevents .section.header{
  background-color: #b24744;
  color: white;
}

.section.majordetails .section.header{
  background-color: #40a4d8;
  color: white;
}

.section.three .section.header{
  background-color: #ffc059;
  color: white;
}

.section.testimonials .section.header{
  background-color: #627e87;
  color: white;

  margin-bottom: 30px;
}

.section.sponsors .section.header{
  color: #666;
  padding-bottom: 50px;
}

.section.sponsors{
  background-color: rgb(240, 240, 240);
  text-align: center;
}

.section.sponsors .logos{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  max-width: 1600px;
}

.section.sponsors .logos img{
  max-width: 300px;
  width: 50%;
}

.section.ases{
  min-height: 100vh;
  background-image: url(../img/texture.jpg);
  color: white;
  background-position: center;
}

.section.ases .logos img{
  width: 100%;
  max-width: 300px;
}

.section.ases .hot{
  font-size: 50px;
  text-align: center;
  padding: 50px 50px;
  padding-bottom: 20px;
  font-family: 'Avenir Next';
  font-weight: 100;
  letter-spacing: 0px;
}

.section.ases .logos{
  padding: 0px 50px;
  padding-top: 20px;
}

.section.ases .content p{
  line-height: 28px;
  text-align: justify;
  font-size: 17px;
}

.section.ases .valign{
  padding-bottom: 50px;
}

@media screen and (max-width: 800px){
  .section.ases .logos img{
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
  }

  .section.ases .logos{
    text-align: center;
  }

  .section.ases .content{
    padding: 0 50px;
  }
}

@media screen and (min-width: 801px){
  .section.ases .logos img{
    display: inline-block;
  }

  .section.ases .valign{
    margin: 0;
    width: 100%;
    padding-top: calc(50vh - 288px);
  }

  .section.ases .logos{
    text-align: right;
    width: 50%;
    float: left;
    box-sizing: border-box;
  }

  .section.ases .content{
    padding: 0 50px;
    padding-left: 0;
    box-sizing: border-box;
    width: 50%;
    float: right;
  }

  .section.ases .content p{
    max-width: 380px;
  }
}

.section.three .columns{
  max-width: 1302px;
  margin: auto;
  margin-bottom: 40px;
}

.section.three .column .header{
  font-size: 25px;
  letter-spacing: 2px;
  background-color: #ffc059;
  color: white;
  font-family: 'Avenir Next LT Pro Condensed';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
  margin: 10px;
  margin-right: 20px;
  position: relative;
}

.section.three .column .header:before{
  width: 30px;
  height: 30px;
  background-image: url(../img/triangle_dark_yellow.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -30px;
  left: 0;
  content: " ";
}

.section.three .column .image{
  width: 150px;
  height: 150px;
  margin: auto;
  background-image: url(../img/texture.jpg);
  border-radius: 150px;
  margin: 50px auto;
}

.section.three .column .content{
  margin: auto;
  margin-top: 20px;
  padding: 10px 60px 0px 60px;
  text-align: justify;
  line-height: 25px;
  max-width: 434px;
}

.section.three .column{
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 650px){
  .section.three .column .lastClear{
    display: none;
  }
}

@media screen and (min-width: 651px){
  .section.three .column{
    float: left;
  }
}

@media screen and (min-width: 651px) and (max-width: 901px){
  .section.three .column{
    width: 50%;
  }

  .section.three .column .lastClear{
    clear: both;
  }

  .section.three .column.last{
    clear: both;
    float: none;
    margin: auto;
    width: 50%;
  }
}

@media screen and (min-width: 903px){
  .section.three .column{
    width: 33.33%;
    max-width: 434px;
  }

  .section.three .column .lastClear{
    display: none;
  }
}


.section.majordetails .theme{
  padding: 20px;
  background-color: rgb(240, 240, 240);
}

.section.majordetails .theme .sub{
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #40a4d8;
  color: white;
  font-family: 'Avenir Next LT Pro Condensed';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
  margin: 10px;
  margin-right: 20px;
  position: relative;
  max-width: 200px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.section.majordetails .theme .sub:before{
  width: 20px;
  height: 20px;
  background-image: url(../img/triangle_dark_blue.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -20px;
  right: 0;
  content: " ";
  transform: rotate(-90deg);
}

.section.majordetails .theme .header{
  font-size: 30px;
  letter-spacing: 2px;
  background-color: #40a4d8;
  color: white;
  font-family: 'Avenir Next LT Pro Condensed';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
  margin: 10px;
  margin-right: 20px;
  position: relative;
  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
}

.section.majordetails .theme .header:before{
  width: 30px;
  height: 30px;
  background-image: url(../img/triangle_dark_blue.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -30px;
  left: 0;
  content: " ";
}

.section.majordetails .theme .content{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  background-color: #40a4d8;
  color: white;
  font-family: 'Avenir Next LT Pro Condensed';
  text-align: center;
  padding: 15px 20px;
  margin: 10px;
  margin-right: 20px;
  position: relative;
  max-width: 350px;
  margin: auto;
  margin-bottom: 40px;
}

.section.majordetails .theme .content:before{
  width: 20px;
  height: 20px;
  background-image: url(../img/triangle_dark_blue.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -20px;
  right: 0;
  content: " ";
  transform: rotate(-90deg);
}

.section.majordetails .columns{
  max-width: 700px;
  margin: auto;
  padding: 20px 0;
}

@media screen and (max-width: 650px){

}

@media screen and (min-width: 651px){
  .section.majordetails .column{
    float: left;
    width: 50%;
  }
}



.section.majordetails .colClear{
  clear: both;
}

#people{
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  max-width: 640px;
  margin: auto;
}

.section.majordetails #people img{
  width: 25px;
  height: auto;
  display: inline-block;
  margin: 2px;
  transition: all 0.5s;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
}

.section.majordetails #people img.hidden{
  opacity: 0;
  top: 10px;
}

.section.majordetails .detailHolder{
  text-align: center;
  padding: 10px;
}

.section.majordetails .detail{
  background-color: rgb(240, 240, 240);
  display: inline-block;
}

.section.majordetails .calendar{
  width: calc(100% - 100px);
  max-width: 300px;
  margin: auto;
  display: block;
  box-sizing: border-box;
}

.section.majordetails .detail .label{
  background-color: rgb(240, 240, 240);
  color: #555;
  font-family: 'melbournebold';
  padding: 10px 20px;
  font-size: 20px;
}

.section.majordetails .detail .value{
  background-color: #40a4d8;
  color: white;
  padding: 10px 20px;
  font-family: 'melbournelight';
  font-size: 30px;
}

.section.majordetails .detail .value.big{
  font-size: 50px;
}

.section.majordetails .pricetext{
  text-align: center;
  padding: 20px;
  color: #999;
}

.section.apply{
  color: white;
  background-image: url(../img/white_mountains.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.section.apply .pitch{
  text-align: center;
  padding: 50px;
  padding-bottom: 150px;
  position: relative;
}

.section.apply .center .text{
  font-size: 40px;
  font-family: 'melbournelight';
}

.section.apply .center{
  padding-top: calc(50vh - 250px);
}

.section.contact{
  background-color: #333;
  color: white;
}

.section.apply .logo{
  display: block;
  margin: 15px auto;
  width: calc(100% - 50px);
  max-width: 200px;
}

.section.apply .applyButton{
  padding: 15px 30px;
  border: 3px solid white;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 170px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s background-color, 0.2s color, 1s top, 1s opacity;
  opacity: 1;
  margin: 20px auto;
}

.section.apply .applyButton:hover{
  color: black;
  background-color: white;
}

.section.contact .section.header{
  padding-bottom: 20px;
  padding-top: 100px;
}

.section.contact .center{
  max-width: 370px;
  margin: auto;
  padding: 0 20px;
  padding-bottom: 100px;
}

.section.contact img{
  width: 50px;
}

.section.contact a{
  color: white;
}
